.contact {
  margin: 50px 0;
  padding: 20px;
  position: relative;
  margin-top: 700px;
}

@media (min-width: 768px) {
  .contact {
    margin-top: 0;
  }
}

.contact .icon {
  margin-right: 15px;
  color: #0d6efd;
}
