.sidebar {
  min-height: 100vh;
  background-color: #f8f9fa;
}
.sidebar h1 {
  text-align: center;
  padding: 20px 0;
  color: #607d8b;
  font-size: 20px;
}
.sidebar ul li {
  text-align: center;
  padding: 20px 5px;
}
.sidebar ul li a {
  color: #03a9f4;
  text-decoration: none;
}
